*.log
.DS_Store
.idea/

# third party
vendor/
node_modules

# local configs
config/.machine
config/env.local.toml
config/nginx/local.conf
wp-cli.local.yml
ssh_config
php-server.ini
.nvmrc

web/wp/

web/languages/
!web/languages/index.php

web/plugins/
!web/plugins/index.php

web/mu-plugins/
!web/mu-plugins/index.php

web/assets/
!web/assets/index.php
web/assets/themes/
!web/assets/themes/index.php

web/uploads/
!web/uploads/index.php

# overrides
!.gitkeep
