.DS_Store
composer.lock
config/config.json
vendor/
*.log

web/wp/*

web/extensions/*
!web/extensions/index.php

web/languages/*
!web/languages/index.php

web/plugins/*
!web/plugins/index.php
!web/plugins/proxy-loader.php

web/assets/*
!web/assets/index.php
web/assets/themes/*
!web/assets/themes/index.php

web/uploads/*
!web/uploads/index.php